<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'styles.css'%}" type="text/css">
</head>
<body>
    <main>
            <h1>WELCOME TO FLASHCARDS</h1>
        <button class="select">
            Select a Module
        </button>
        <button class="login">
            Login
        </button>
        <button class="create">
            Create a New Set
        </button>
    </main>

</body>
</html>